<div class="container">
  <ul class="ch-grid">
      <% @dashboard_presenter.tenants.each_with_index do |tenant, i| %>
      <li class="person" data-tenant_id="<%= tenant.id %>" data-name="<%= tenant.name %>" data-tenant_in="<%= tenant.entered_on %>" data-tenant_out="<%= tenant.really_exited_on %>">
        <div class="ch-item">
          <div class="ch-info">
            <h3><%= tenant.name %></h3>
            <p><%= tenant.email %></p>
            <p>Entrou a <%= tenant.entered_on %></p>
            <p><%= tenant.exited_on %></p>
            <p><%= link_to "Editar", edit_tenant_path(tenant.id), class: "edit" %></p>
          </div>
          <div class="ch-thumb ch-img-1" style="background-image: url(<%= tenant.image %>); background-repeat: no-repeat; background-size: 220px 220px"
            <p id="total_tenant_<%= tenant.id %>"style="margin-top: 162px; font-size: 40px; opacity: 0.4"></p>
          </div>
        </div>
      </li>
    <% end %>
    <li>
      <div class="ch-item">
        <div class="ch-info">
          <h3><%= link_to "Adicionar novo inquilino", new_tenant_path %></h3>
        </div>
        <div class="ch-thumb ch-img-1" style="background-image: url(http://b.dryicons.com/images/icon_sets/colorful_stickers_icons_set/png/256x256/add.png); background-size: 220px 220px; background-repeat: no-repeat"</div>
    </li>
  </ul>
</div>