<li id="<%= bill %>_li" data-bill="<%= bill %>" style="display: inline;">
	<div>
		<%= image_tag "#{bill}.png", style: "height: 30px; width: 40px" %>
		<%= bill %>
	</div>
	<div>
		<input id="<%= bill %>_start_input" class="<%= bill %> start" data-type="<%= bill %>" data-selected_date="" type="text" placeholder="Data de início">
		<input id="<%= bill %>_end_input" class="<%= bill %> end" data-type="<%= bill %>"  data-selected_date="" type="text" placeholder="Data de fim">
	</div>
	<input class="price_input" data-type="<%= bill %>" type="text" placeholder="Valor da factura" onKeyUp="$.bills.billPriceChanged(this);">
	<label class="days">--- dias</label>
	<label class="price_per_day_label">--- €/dia</label>
</li>