<div id="chart" style="width: 600px; height: 400px"></div>

<script>
	$(function() {
		var series = [];
		var tenantsCount = <%= @dashboard_presenter.tenants.count %>
		<% @dashboard_presenter.tenants.each_with_index do |tenant, i| %>
			var tenant_series = {
				name: '<%= tenant.name %>',
				color: '<%= tenant.color %>',
				data: [[<%= tenant.date_in_in_millis %>, <%= i + 1 + 2 + 0.1 %>, <%= i + 1 + 3 -0.1 %>],[<%= tenant.date_out_in_millis %>, <%= i + 1 + 2 + 0.1 %>, <%= i + 1 + 3 - 0.1 %>]]
			}
			series.push(tenant_series);
		<% end %>

		
		var d1 = new Date(2014, 3, 1);

		var waterSeries = {
				name: 'water',
				data: [[d1.getTime(), 0, 1],[d1.getTime(), 0, 1]]
		}

		var gasSeries = {
				name: 'gas',
				data: [[d1.getTime(), 1, 2],[d1.getTime(), 1, 2]]
		}
		
		var powerSeries = {
				name: 'power',
				data: [[d1.getTime(), 2, 3],[d1.getTime(), 2, 3]]
		}

		series.push(waterSeries);
		series.push(gasSeries);
		series.push(powerSeries);
		
		seriesOptions = {
			series: series,
		}

		$.highcharts.initChart(seriesOptions);
	})
</script>