<div>
	<% 3.months.ago.to_date.upto(DateTime.now.to_date) do |d|%>
		<div class="date_div <%= d %>" data-date='<%= d %>' title='<%= d %>' style="height: 15px; width: 10px; background-color: black; float: left; margin-left: 1px" onmouseover="setDivsWithHoverEfect(this)"></div>
	<% end %></br>
</div>

<div>
	<% @dashboard_presenter.tenants.each_with_index do |tenant, x| %>
		<% 3.months.ago.to_date.upto(DateTime.now.to_date) do |d|%>
			<div class='date_div <%= "#{tenant.color}" "#{d}" %>' data-date="<%= d %>" title='<%= d %>' onmouseover="setDivsWithHoverEfect(this)"></div> 
		<% end %>
		<%= "#{p.name}" %>
	</br>
	<% end %>
</div>
