<table class="table">
	<th>
		<tr>
			<td><%= t(".name") %><i class="glyphicon glyphicon-user"></i></td>
			<td><%= t(".in") %> <i class="glyphicon glyphicon-log-in"></i></td>
			<td><%= t(".out") %> <i class="glyphicon glyphicon-log-out"></i></td>
			<td>
				<% 3.months.ago.to_date.upto(DateTime.now.to_date) do |d|%>
					<span class="date_div date_square <%= d %>" data-date='<%= d %>' title='<%= d %>' onmouseover="hoverDate(this)"></span>
				<% end %>
			</td>
		</tr>
	</th>
	<tbody>
		<% @dashboard_presenter.tenants.each do |tenant| %>
			<tr>
				<td><%= tenant.name %></td>
				<td><%= tenant.entered_on %></td>
				<td><%= tenant.exited_on %></td>
				<td>
					<% 3.months.ago.to_date.upto(DateTime.now.to_date) do |d|%>
						<div class='date_div <%= "#{tenant.color_for_date(d)} #{d}" %>' data-date="<%= d %>" title='<%= d %>' onmouseover="hoverDate(this)"></div> 
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
	function hoverDate(element) {
		$(".date_div").removeClass("selected");
		var date = $(element).data("date");
		$("." + date).not(".white").addClass("selected");
	}
</script>