<div>
	<%= render "people_info" %>
	<%= image_tag "http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/email-icon.png", style: "width: 25px; height: 25px", onclick: "$.people.sendEmail();" %>
</div>

<div>
	<%= render 'bills_info' %>
</div>

<div>
	<%= render 'people_vs_bills_table' %>
</div>

<div>
	<%= render 'chart' %>
</div>


